body{
    font-family: 'Oswald', sans-serif;
}
.container{
    width: 1100px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap:wrap;
}
.box1{
    width: 35%;
    margin: auto;
}
.box2{
    width: 60%;
    margin: auto; 
}
.box3{
    width: 30%;
    margin:auto;
}
.box3 img{
    width:100%;
}
.container2{
    width: 1000px;
    margin:auto;
}
.row2{
    margin-top: 10mm;
    margin-bottom: 20mm;
    display:flex;
    justify-content: space-between;
}
.box4{
    border: 2px solid black;
    border-radius: 1mm;
}
.box5{
    width:45%;
    margin:auto;
}
.box5 img{
    width: 100%;
}
ul { 
    list-style-type: "\2713"; 
}
.signupbtn{
    background-color:rgb(22, 172, 199);
    border-radius: 1mm;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
}
.box6{
    padding: 5px;
    width:30%;
    border: 2px solid black;
    border-radius: 1mm;
    border-top-right-radius: 20mm;
}
.box7{
    padding: 5px;
    width:30%;
    border: 1px solid black;
    border-radius: 2mm;
}
.box8{
    margin: 10px;
    width:50%;
    border: 2px solid black;
    border-radius: 2mm; 
}